@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#fixedbar {
    display: block;
}

/* #offcanvas {
    display: none;
} */


/* @media screen and (max-width: 736px) {
    #fixedbar {
        display: none;
    }

    #offcanvas {
        display: block;
    }
} */


.infoContainer {
    margin-left: 260px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05) !important;

}

.bgDim {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@media screen and (max-width: 736px) {
    .infoContainer {
        margin: 20px 10px 10px 10px;
    }
}

h4 {
    font-size: 16px !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}

h2 {
    font-size: 24px !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}

h3 {
    font-size: 20px !important;
    font-weight: bold !important;
    margin-bottom: 0 !important;
}

hr {
    margin: 0 !important;
}